
.wrapper{
    overflow: hidden;
}

.header{
    height:  var(--height-header);
    background-image: linear-gradient(0, #fe6433 , #f52e2d);
}

.header-logo-link{
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}


.navbar{
    display: flex;
    justify-content: space-between; 
}

.navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.navbar-icon-link:nth-child(2){
    padding-left: 4px ;
}

.navbar-item{
    display: flex;
}
.navbar-item-user{
    display: flex;
    justify-items: center;
    position: relative;
}

.navbar-item-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgb(172, 30, 11);
}
.navbar-item-username{
    margin-left: 4px;
    font-size: 1.2rem;
    font-weight: 400;
}

.navbar-item-user-menu{
    list-style: none;
    position: absolute;
    padding-left: 0 ;
    top: calc(100% + 4px);
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    width: 160px;
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.navbar-item-user-menuitem-separate{
    border-top: 1px solid rgba(238,75,43,0.08);
}

.navbar-item-user:hover .navbar-item-user-menu{
    display: block;
}

.navbar-item-user-menu::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}
.navbar-item-user-menu::after{
    content: "";
    display: block;
  
    position: absolute;
    width: 30%;
    top: -8px;
    left: 50%;
    height: 10px;
}

.navbar-item-user-menuitem a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.navbar-item-user-menuitem a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.navbar-item-user-menuitem a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    display: block;
    padding: 4px 16px;
}

.navbar-item-user-menuitem a:hover{
    background-color: #fafafa;
}

.navbar-item{
   margin:  0 8px;
   position: relative;
   min-height: 26px;
}

.navbar-item , .navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 200;
}

.navbar-item, 
.navbar-item-link,
.navbar-icon-link{
    
    display: flex;
    align-items: center;
      
}

.navbar-item:hover , 
.navbar-item-link:hover,
.navbar-icon-link:hover{
    color: rgba(255,255,255,0.5);
    cursor: pointer;
}




.navbar-item-strong{
    font-weight: 400;
}

.navbar-item-separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    
}

.navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}   

.navbar-item-no-poiter{
    cursor: text;
    color: var(--white-color);
}

.navbar-item-has-qr:hover .header-qr{
    display: block;
   
}

/* header QR css */

.header-qr{
    width: 194px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.header-qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
}


.header-qr-img{
    width: 100%;
}
.header-qr-apps{
    display: flex;
    justify-content: space-between;

}

.header-qr-link:nth-child(1){
    margin-left: 11px;
}
.header-qr-link:nth-child(2){
    margin-right: 11px;
}
.header-qr-download-app{
    height: 16px;
}


/* header notifycation */

.navbar-notify{
    width: 404px;
    position: absolute;
    top: 118%;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #d3d3d3;
    cursor: default;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: transform, opacity;
    z-index: 2;
}

.navbar-notify::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 16px;
    top: -32px;
}

.navbar-notify::after{
    content: "";
    position: absolute;
    width: 90px;
    height: 20px;
    top: -20px;
    right: -1px;
}
.navbar-item:hover .navbar-notify{
    display: block;
    
}

.navbar-notify-header {
    height: 40px;
    background-color: var(--white-color);
    
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}


.navbar-notify-header h3{
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 0 0 0 12px;
    user-select: none;
}
.navbar-notify-list {
    padding-left: 0;
    height: 56vh;
    overflow-y: auto;
}
.navbar-notify-items {
    display: flex;
}

.navbar-notify-items:hover{
    background-color: #f7f7f7;
}    

.navbar-notify-items-viewed{
    background-color: rgba(238,75,43,0.08);
}

.navbar-notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
   

}
.navbar-notify-img {
   
    width: 48px;
    object-fit: contain;
}
.navbar-notify-info {
    margin-left: 12px;
    
}
.navbar-notify-title {
    display: block;
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    max-height: 6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

}
.navbar-notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    max-height: 3.2rem;
    color: #756F6E;
    margin-top: 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.navbar-notify-footer{
   
}

.navbar-notify-footer-btn{
    text-decoration: none;
    width: 100%;
    padding: 8px 0px;
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    display: block  ;
    
}
.navbar-notify-footer-border{
    width: 90%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 8px;
}

/* authform */

.modal-authform{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}



.modal-authform-container{
    padding: 0 32px;
}

.modal-authform-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-authform-heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
   
}

.modal-authform-switch-btn{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}


.modal-authform-input{
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.modal-authform-input:focus{
    border-color: #888;
}

.modal-authform-aside{
    margin-top: 14px;
}
.modal-authform-policy-text{
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    padding: 0 12px;
}

.modal-authform-policy-link{
    text-decoration: none;
    color: var(--primary-color);
}

.modal-controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;    
}

.modal-controls-back{
    margin-right: 8px;
    background-color: var(--white-color);
}

.modal-socials{
    background-color: #f5f5f5;
    padding: 12px 36px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;

}

.modal-socials-icon{
    font-size: 1.6rem;
}

.modal-socials-facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}

.modal-socials-google{
    color: #666;
    background-color: var(--white-color);
}

.modal-socials-facebook
.modal-socials-icon{
    color: var(--white-color);
}

.modal-socials-title{
    margin: 0 32px;
}


.modal-authform-help{
    display: flex;
    justify-content: flex-end;
}
.modal-authform-help-link{
    font-size: 1.4rem;
    
    text-decoration: none;
    color: #939393;
}

.modal-authform-help-link.modal-authform-help-text{
    color: var(--primary-color);
}

.modal-authform-help-separate{
    display: blocks;
    border: 1px solid #EAEAEA;
    height: 2rem;
    margin: 2px 12px 0;
}


/* header with search */

.header-with-search{
    height: var(--height-with-search);
    display: flex;
    align-items: center;
    padding: 0 8px;
    
}

.header-mobile-search{
    padding: 0 12px;
    display: none;
}

.header-mobile-search-icon{
    font-size: 2.6rem;
    color: var(--white-color);
}


.header-logo{
    width: 200px;
    
}

.header-logo-img{
    width: 150px;

}

.header-cart{
    width: 150px;
    text-align: center;
    

}
.header-cart-wrapper{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header-cart-list::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 6px;
    top: -28px; 
    cursor: pointer; 
    

}

.header-cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 4px;
}

.header-cart-notice{
    position: absolute;
    top: -10px;
    right: -2px;
    padding: 2px 6px;
    background-color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid orangered;
    color: var(--primary-color);
}

.header-cart-list{
    position: absolute;
    top: calc(100% + 4px);
    right: -8px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0,0,0,0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header-cart-wrapper:hover .header-cart-list{
    display: block;
}

.header-cart-list-no-cart{
    padding: 24px 0;

}

.header-cart-list-no-cart
.header-cart-no-cart-img ,
.header-cart-list-no-cart
.header-cart-list-no-cart-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-cart-no-cart-img{
    width: 54%;
    display: none;
}

.header-cart-list-no-cart-text{
    
    margin-top: 14px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    display: none;
}



.header-cart-list-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 300;

}
.header-cart-list-items{
    padding-left: 0;
    list-style: none;
    margin: 0 12px;
    max-height: 56vh;
    overflow-y: auto;
}
.header-cart-item{
    display: flex;
    margin-bottom: 5px;
    text-align: center;
}

.header-cart-item:hover{
    background-color: #f8f8f8;
}

.header-cart-item-remove:hover{
    color: var(--primary-color);
}

.header-cart-img{
    width: 42px;
    height: 42px;
    border: 1px solid var(--border-color);
}
.header-cart-item-info{
    display: flex;
    display: inline-block;
    width: 100%;
    

}
.header-cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.header-cart-item-name{
    color: var(--text-color);
    font-size: 1.3rem;
    max-height: 4rem;
    line-height: 2rem;
    overflow: hidden;
    margin: 0 ;
    flex: 1;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-right: 10px;
}
.header-cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header-cart-item-multiply{
    font-size: 0.9rem;  
    color: #757575;
    margin: 0 2px;
}
.header-cart-item-qnt{
    font-size: 1.2rem;
    font-weight: 400;
    color: #757575;
}
.header-cart-item-body{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.header-cart-item-description{
    color: #757575;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 0 0 0 4px;

}
.header-cart-item-remove{
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.2rem;
    cursor: pointer;
}

.btn-cart{
    margin:12px 12px 12px 0;
    float: right;
    
}
.btn-cart:hover{
    background-color: #f05d41;
}



/* header search */

.header-search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header-search-checkbox:checked ~ .header-search{
     display: flex;
}

.header-search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header-search-input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0  16px;
    outline: none;
}

.header-search-select{
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header-search-select-label{
    font-size: 1.4rem;
    color:var(--text-color);
}

.header-search-select-icon{
    color: #4a4a4a;
    position: relative;
    margin: 0 16px 0 8px;
    top : 1px;

}

.header-search-btn{
    width: 60px;
    height: 34px;
    margin-right: 2px;
    border: none;
    border-radius: 2px;
    background-color: var(--primary-color);
    outline: none;
    
}

.header-search-btn:hover{
    cursor: pointer;
    background-color:#fb6445;
}


.header-search-btn-icon{
    color: var(--white-color);
    font-size: 1.2rem;
}


.header-search-options{

    list-style: none;
    position: absolute;
    width: 130px;
    right: 0;
    top: calc(100% - 2px);
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    overflow: hidden;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;

}
.header-search-select:hover .header-search-options{
    display: block;
}

.header-search-select::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top:20px;
    right: 0px;
}

.header-search-item{
    background-color: var(--white-color);   
    padding: 8px 8px;
    
}

.header-search-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}


.header-search-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8xp;
}

.header-search-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header-search-item-active i{
    display: inline-block;
}


/* search history */

.header-search-history{
    position: absolute;
    background-color: var(--white-color );
    top: calc(100% + 1px);
    left: 0;
    width: calc(100% - 16px);
    border-radius: 2px;
    box-shadow: 0 1px 5px #d8d8d8;
    overflow: hidden;
    display: none;
    
}

.header-search-input:focus ~ .header-search-history{
    display: block;
    z-index: 3;
}

.header-search-history-heading{
    font-size: 1.2rem;
    margin: 6px 12px;
    color: #999;
    font-weight: 400;
}

.header-search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
    
}
.header-search-history-item{
    padding: 0 12px;
    height: 38px;
    
}



.header-search-history-item:hover{
    background-color: #fafafa;
}

.header-search-history-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 38px;
    display: block;
}


/* header sort bar  */
.header-sort-bar{
    height: var(--height-sort-bar);
    position: fixed;
    top: var(--height-header);
    right: 0;
    left: 0;
    background-color: var(--white-color);
    list-style: none;
    padding-left: 0;
    margin: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}
.header-sort-item{
    
    flex: 1;
}
.header-sort-link{
    text-decoration: none;
    height: 100%;
    color: var(--text-color);
    line-height: var(--height-sort-bar);
    font-size: 1.4rem;
    display: block;
    text-align: center;
    position: relative;
}
 
.header-sort-link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}



.header-sort-item:first-child .header-sort-link::before{
    border: none;
}

.header-sort-item-active .header-sort-link{
    color: var(--primary-color);
}

.header-sort-item-active .header-sort-link::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    border-bottom: 2px solid var(--primary-color);
    width: 100%;
}



/* wrapper container */

.wrapper-content{
    padding-top: 36px;
}

.wrapper-container{
    background-color: #f5f5f5;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
    
}

.category-heading{
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-top: 0;
}

.category-heading-icon{
    font-size: 1.4rem;
    margin-right: 8px;
    position: relative;
    top: 1px;
    
}

.category-list{
    list-style: none;
    padding: 0 0 8px 0;
    margin-left: 10px;

}
.category-item-link.category-item-link-active{
    color: var(--primary-color);
}

.category-item-link.category-item-link-active::before{
    position: absolute;
    content: "";
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: 5px;
    transform: translateY(-50% );

}

.category-item-link:hover{
    color: var(--primary-color);
    right: -4px;
}

.category-item-link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    padding: 2px 16px;
    display: block;
    font-size: 1.4rem;
    transition: right linear 0.2s;
    right: 0;
}

/* mobile category */

.mobile-category{
    display: none;
}
.mobile-category-list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}
.mobile-category-list::-webkit-scrollbar{
    display: none;
}

.mobile-category-item{
    flex-shrink: 0 ;
    margin-right: 10px;
}

.mobile-category-item:nth-of-type(3n) .mobile-category-link{
    background-color: #87AFD8;
}
.mobile-category-item:nth-of-type(3n + 1) .mobile-category-link{
    background-color: #76C9BD;
}
.mobile-category-item:nth-of-type(3n + 2) .mobile-category-link{
    background-color: #88CF81;
}
.mobile-category-link{
    --line-height: 2rem;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: var((--line-height) *2);
    color: var(--white-color);
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
}

/* home filter */

.home-filter{
    background-color: rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 12px 22px;
}



.home-filter-label{
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter-btn{
    min-width: 90px;
    margin-right: 12px;
}

.home-page{
    display: flex;
    align-items: center;
    margin-left: auto;
    
}

.home-page-num{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-right: 16px;
}

.home-page-current{
    color: var(--primary-color);
}

.page-control{
    width: 72px;
    height: 36px;
    background-color: var(--white-color);
    display: flex;
    border-radius: 2px;
    overflow: hidden;
}

.home-filter-page-btn{
    display: flex;
    flex: 1;
    text-decoration: none;
}

.home-filter-page-btn:first-child{
    border-right:1px solid #eee;
}

.home-filter-page-btn-icon{
    margin: auto;
   font-size: 1.2rem;
   color: #555;
}

.home-filter-page-btn-disable{
    background-color: #e7e6e6;
    cursor: default;
}

.home-filter-page-btn-disable ,.home-filter-page-btn-icon{
    color: #ccc;
}



/* home product */

.home-product{
    margin-bottom: 10px;
}

.home-product-item{
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1;
    will-change: transform;
}


.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-product-item-name{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.home-product-item-price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item-price-old{
    font-size: 1.4rem;
    color: #666666;
    text-decoration: line-through;
    margin-left: 10px;
}
.home-product-item-price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item-action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
   
}
.home-product-item-like{
    font-size: 1.2rem;
}

i.home-product-item-like-fill{
    color: #f63d30;
    display: none;
}

.home-product-item-liked .home-product-item-like-fill{
    display: inline-block;
}

.home-product-item-ratting-gold-star{
    color: var(--gold-star-color);
}

.home-product-item-sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;

}

.home-product-item-liked .home-product-item-like-empty{
    display: none;
}

.home-product-item-ratting{
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin-left: auto;
}
.home-product-item-origin{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
    color: #595959;
    font-weight: 300;

}
.home-product-item-brand{
    font-size: 1.4rem;
    
}
.home-product-item-origin-name{
    font-size: 1.4rem;
  
}
.home-product-item-favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1,2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item-favourite::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item-favourite span{
    color: var(--white-color);
}

.home-product-item-favourite-icon{
    margin: 0 2px 0 5px;
    font-size: 0.9rem;
    color: var(--white-color);
}

.home-product-item-sale-off{
    position: absolute;
    text-align: center;
    width: 40px;
    height: 36px;
    top: 0;
    right: 0;
    background-color: rgba(255,216,64,0.94);
    border-top-right-radius: 2px;
}

.home-product-item-sale-off::after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    border-width: 0 20px 6px;
    border-style: solid;
    color: rgba(255,216,64,0.94);
    border-color: transparent currentColor transparent currentColor;
}
.home-product-item-sale-percent{
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: -2px;

}
.home-product-item-sale-label{
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: -10px;
}



.pagination-home-product{
    margin: 48px 0 32px;
    padding-left: 0;
}



/* footer */

.footer{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer-heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-list{
    padding-left: 0;
    list-style: none;
}
.footer-item-link{

    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: block;
    display: flex;
    align-items: center;
}

.footer-item-link:hover{
    color: var(--primary-color);
}

.footer-item-link-icon{
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer-download{
    display: flex;
}

/* object-fit use for tag img background-size use for background-image */

.footer-download-qr{
    width: 80px;
    height: 80px;
    /* object-fit: contain; */
    border: 1px solid var(--border-color);
}

.footer-download-apps{
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-download-apps-img{
    height: 16px;
    
}

.footer-download-apps-link{
    text-decoration: none;
    color: transparent;
}


.footer-bottom{
    background: #f5f5f5;
    padding: 8px 0;
    margin-top: 24px;
}

.footer-text{
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
}
