.header{
    height: 120px;
    background-image: linear-gradient(0, #fe6433 , #f52e2d);
}


.navbar{
    display: flex;
    justify-content: space-between; 
}

.navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.navbar-item{
   margin:  0 8px;
   position: relative;
   min-height: 26px;
}

.navbar-item , .navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 200;
}

.navbar-item, 
.navbar-item-link,
.navbar-icon-link{
    
    display: inline-flex;
    align-items: center;
      
}

.navbar-item:hover , 
.navbar-item-link:hover,
.navbar-icon-link:hover{
    color: rgba(255,255,255,0.5);
    cursor: pointer;
}




.navbar-item-strong{
    font-weight: 400;
}

.navbar-item-separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    
}

.navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}   

.navbar-item-no-poiter{
    cursor: text;
    color: var(--white-color);
}

.navbar-item-has-qr:hover .header-qr{
    display: block;
}

/* header QR css */

.header-qr{
    width: 194px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header-qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
}


.header-qr-img{
    width: 100%;
}
.header-qr-apps{
    display: flex;
    justify-content: space-between;

}

.header-qr-link:nth-child(1){
    margin-left: 11px;
}
.header-qr-link:nth-child(2){
    margin-right: 11px;
}
.header-qr-download-app{
    height: 16px;
}


/* header notifycation */

.navbar-notify{
    width: 404px;
    position: absolute;
    top: 118%;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #d3d3d3;
    cursor: default;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: transform, opacity;
}

.navbar-notify::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 16px;
    top: -32px;
}

.navbar-notify::after{
    content: "";
    position: absolute;
    width: 90px;
    height: 20px;
    top: -20px;
    right: -1px;
}
.navbar-item:hover .navbar-notify{
    display: block;
}

.navbar-notify-header {
    height: 40px;
    background-color: var(--white-color);
    
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}


.navbar-notify-header h3{
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 0 0 0 12px;
    user-select: none;
}
.navbar-notify-list {
    padding-left: 0;
}
.navbar-notify-items {
    display: flex;
}

.navbar-notify-items:hover{
    background-color: #f7f7f7;
}    

.navbar-notify-items-viewed{
    background-color: rgba(238,75,43,0.08);
}

.navbar-notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
   

}
.navbar-notify-img {
   
    width: 48px;
    object-fit: contain;
}
.navbar-notify-info {
    margin-left: 12px;
}
.navbar-notify-title {
    display: block;
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;

}
.navbar-notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.navbar-notify-footer{
   
}

.navbar-notify-footer-btn{
    text-decoration: none;
    width: 100%;
    padding: 8px 0px;
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    display: block  ;
    
}
.navbar-notify-footer-border{
    width: 90%;
    color: #d3d3d3;
}

/* authform */

.modal-authform{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}



.modal-authform-container{
    padding: 0 32px;
}

.modal-authform-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-authform-heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
   
}

.modal-authform-switch-btn{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}


.modal-authform-input{
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.modal-authform-input:focus{
    border-color: #888;
}

.modal-authform-aside{
    margin-top: 14px;
}
.modal-authform-policy-text{
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    padding: 0 12px;
}

.modal-authform-policy-link{
    text-decoration: none;
    color: var(--primary-color);
}

.modal-controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;    
}

.modal-controls-back{
    margin-right: 8px;
    background-color: var(--white-color);
}

.modal-socials{
    background-color: #f5f5f5;
    padding: 12px 36px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;

}

.modal-socials-icon{
    font-size: 1.6rem;
}

.modal-socials-facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}

.modal-socials-google{
    color: #666;
    background-color: var(--white-color);
}

.modal-socials-facebook
.modal-socials-icon{
    color: var(--white-color);
}

.modal-socials-title{
    margin: 0 32px;
}


.modal-authform-help{
    display: flex;
    justify-content: flex-end;
}
.modal-authform-help-link{
    font-size: 1.4rem;
    
    text-decoration: none;
    color: #939393;
}

.modal-authform-help-link.modal-authform-help-text{
    color: var(--primary-color);
}

.modal-authform-help-separate{
    display: blocks;
    border: 1px solid #EAEAEA;
    height: 2rem;
    margin: 2px 12px 0;
}





